{{ partial "header.html" . }}

<section>
  <h2>{{ .Title }}</h2>

  <div class="post-meta">
    <div class="post-meta-item">
      <i class="fa fa-calendar"></i>
      <time datetime="{{ .Date.Format .Site.Params.dateformfull }}">{{ .Date.Format .Site.Params.dateform }}</time>
      &middot; {{ .ReadingTime }} {{ .Site.Data.Strings.metaReadinMinutes }}
      &middot; {{ .WordCount }} {{ .Site.Data.Strings.words }}

    </div>

  </div>




  {{ .Content }}
</section>

{{ partial "footer.html" . }}
