{{ partial "header.html" . }}

<section>
  <div class="container">
    <div class="row">
      <div class="one column">

      </div>
      <div class="two columns">
        <img class="avatar" src="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=250" />
      </div>
      <div class="eight columns">
        <p>
          {{ .Content }}
        </p>
      </div>
      <div class="one column">
        
      </div>
    </div>

    <hr />

  </div>
</section>

<section class="links-section">
  <div class="container">
    <ul>
      {{ range .Data.Pages }}
        {{ partial "item.html" . }}
      {{ end }}
    </ul>
  </div>
</section>

{{ partial "footer.html" . }}
