{{ partial "header.html" . }}

<section class="main">
  <div class="container">
    <div class="content">

    <div class="page-heading">{{.Title}}</div>

      <div class="markdown">
          {{ .Content }}
      </div>

      <ul>
          {{ $pageurl := .RelPermalink }}
          {{ range $key, $project := .Site.Taxonomies.projects }}
          <li><a href="{{$pageurl}}{{$key | urlize}}">{{$key}}</a></li>
          {{ end }}      </ul>
    </div>
  </div>
</section>
{{ partial "footer.html " . }}
