<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">

  <section class="header">
    <div class="container">
      <div class="content">
        {{ if .Site.Params.gravatar }}
        <a href="/"><img class="avatar" src="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=50" /></a>
        {{ else if .Site.Params.avatar }}
        <a href="/"><img class="avatar" src="/{{ .Site.Params.avatar }}" /></a>
        {{ end }}
        <div class="name">{{ .Site.Params.author }}</div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
